!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
</head>

<body >
<div class = "hme">
  <div class="welcome">
    <h1 style="font-size: 45px;font-weight: bolder;line-height: 1.5;"><i>WELCOME TO THE WORLD <br>OF<br> CRICKET PLAYERS</i></h1>
  </div>
</div>




</body>

</html>
