<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aboutus.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Our-Team</title>
</head>

<body>
    <div class="container" >
        <div class="header">
            <h1>OUR TEAM</h1>
        </div>
        <div class="sub-container">
            <div class="teams">
                <img class="Hiiii" src="ujwal.jpeg" alt="Its not available">
                <div class="name">Ujjwal Gupta</div>
                <div class="desig">Project Engineer</div>
                <div class="about">For this Project on Cricket Players, he has mainly worked on the back-end part, database and provided assistance throughout the project. 
                   <br> Contact: <h4>6391528202</h4>
                </div>

                <div class="social-links">
                    
                    <a href="mailto: gupta262ujjwal@gmail.com"><i class="fa fa-envelope"></i></a>
                    <a href="https://github.com/TheRealUjjwal"><i class="fa fa-github"></i></a>
                </div>
            </div>

            <div class="teams">
                <img class ="Hi" src="gouri1.jpeg" alt="Its not available">
                <div class="name">Gouri Balakrishna Shinde </div>
                <div class="desig">Project Engineer</div>
                <div class="about">For this Project on Cricket Players, she has mainly worked on the back-end part and provided assistance throughout the project.
                    Contact: <h4>9075760835</h4>
                </div>

                <div class="social-links">
                    
                    <a href="mailto: gouris9617@gmail.com"><i class="fa fa-envelope"></i></a>
                    <a href="https://gitlab.com/GouriShinde"><i class="fa fa-github"></i></a>
                </div>
            </div>

            <div class="teams">
                <img class="Hii" src="latest.jpg" alt="Its not available">
                <div class="name">Mohamed Thanveer V H </div>
                <div class="desig">Project Engineer</div>
                <div class="about">For this Project on Cricket Players, he has mainly worked on the front-end part and provided assistance throughout the project. 
                    Contact: <h4>8248319039</h4>
                </div>

                <div class="social-links">
                    
                    <a href="mailto: mdthvr23@yahoo.com"><i class="fa fa-envelope"></i></a>
                    <a href="https://gitlab-wipro.stackroute.in/mdthvr23"><i class="fa fa-github"></i></a>
                </div>
            </div>
            <div class="teams">
                <img class="Hiii" src="shaeed.jpeg" alt="Its not available">
                <div class="name">Shaik Mahammad Bara Shaheed</div>
                <div class="desig">Project Engineer</div>
                <div class="about">For this Project on Cricket Players, he has mainly worked on the front-end part and provided assistance throughout the project. 
                    Contact: <h4>8074684842</h4>
                </div>

                <div class="social-links">
                    
                    <a href="mailto: barashaheed963@gmail.com"><i class="fa fa-envelope"></i></a>
                    <a href="https://github.com/Shaheed14"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
