footer{
    width: 100%;
    height: 40px;
    background-color:rgb(44, 44, 44);;
    padding: 10px;
    color:rgb(32, 186, 165);
    text-align: center;
    font-size: 10pt;
    position: absolute;
    bottom: 0;
    border-top: 2px solid  rgb(32, 186, 165);
}